@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
}

/* width */
body::-webkit-scrollbar {
  width: 4px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(40, 89, 84);
  border-radius: 50px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
  border: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0;
}

ul {
  padding-left: 0;
}

.header {
  background-color: #fecb5f;
  padding: 0.55rem 0;
  position: relative;
}
@media (max-width: 991px) {
  .header::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.661);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
    opacity: 0;
    z-index: 9;
    visibility: hidden;
  }
  .header.active::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 1.25rem;
    padding-bottom: 4.5rem;
  }
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img {
  width: 170px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.5rem;
}
@media (max-width: 1200px) {
  .header-menu {
    gap: 1.5rem;
  }
}
@media (max-width: 991px) {
  .header-menu {
    position: absolute;
    top: 0;
    right: -100px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 30%;
    height: 100vh;
    background-color: #fecb5f;
    transition: 0.5s;
    display: block;
    z-index: 9999;
    padding-top: 0.875rem;
  }
  .header-menu.active {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition-delay: 0.2s;
  }
}
.header-menu_showmenu span {
  color: #1c6d24;
  font-weight: 600;
  transition: 0.5s;
}
.header-menu_showmenu span::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #1c6d24;
  border-radius: 3rem;
  transition: 0.3s;
}
.header-menu_showmenu span:hover::after {
  width: 100%;
}
.header-menu_showmenu_child {
  background-image: linear-gradient(to top, rgba(254, 203, 95, 0) 0%, #fecb5f 100%);
  position: absolute;
  top: 76px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999999;
  padding: 4.5rem 13rem;
  width: 100%;
  height: 200px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.header-menu_showmenu_child li {
  text-align: center;
  margin-bottom: 1.25rem;
}
.header-menu_showmenu_child li a {
  color: #1c6d24;
  font-weight: 600;
  transition: 0.5s;
}
.header-menu_showmenu_child li a img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 1.25rem;
}
.header-menu_showmenu_child li:hover a {
  color: rgb(232, 132, 64);
}
.header-menu_showmenu_child.active {
  opacity: 1;
  visibility: visible;
}
.header-menu_close {
  display: none;
  text-align: right;
  padding: 0 2.5rem 1rem 0;
}
.header-menu_close i {
  color: #1c6d24;
  font-size: 1.25rem;
}
@media (max-width: 991px) {
  .header-menu_close {
    display: block;
  }
}
.header-menu > li > a {
  color: #1c6d24;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 4.5rem 0;
}
.header-menu > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #1c6d24;
  border-radius: 3rem;
  transition: 0.3s;
}
.header-menu > li:hover a::after {
  width: 100%;
}
@media (max-width: 991px) {
  .header-menu > li {
    display: block;
    padding: 0.55rem 2.75rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2117647059);
  }
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.header-search {
  position: relative;
}
@media (max-width: 767px) {
  .header-search {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
}
.header-search input {
  padding: 0.75rem 4rem;
  background-color: transparent;
  border: 1px solid #1c6d24;
  border-radius: 3rem;
}
.header-search input::placeholder {
  color: #1c6d24;
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .header-search input {
    padding: 0.55rem 3rem;
  }
}
@media (max-width: 767px) {
  .header-search input {
    width: 100%;
    border-radius: 1rem;
  }
}
.header-search_icon {
  position: absolute;
  top: 50%;
  left: 1.75rem;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .header-search_icon {
    left: 1rem;
  }
}
.header-search_icon i {
  color: #1c6d24;
  font-size: 1.25rem;
}
.header-iconmenu {
  display: none;
}
@media (max-width: 991px) {
  .header-iconmenu {
    display: block;
  }
}
.header-iconmenu i {
  color: #1c6d24;
  font-size: 1.25rem;
}
.header-icon {
  color: #1c6d24;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icon_child {
  color: #1c6d24;
  font-size: 1.25rem;
  position: relative;
  margin-left: 1rem;
  display: inline-block;
}
.header-icon_child span {
  position: absolute;
  top: -1rem;
  right: -0.75rem;
  color: #1c6d24;
  font-size: 1rem;
}
.header-icon_user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.header-icon_user h4 {
  font-size: 0.875rem;
}
.header-icon_user h4 span {
  font-weight: 700;
  display: block;
}
.header-icon_user p {
  font-size: 0.875rem;
  font-weight: 600;
}

.button-1 {
  background-color: transparent;
  border: 1px solid rgb(232, 132, 64);
  color: rgb(232, 132, 64);
  border-radius: 3rem;
  padding: 1rem 1rem;
  font-weight: bold;
}
@media (max-width: 991px) {
  .button-1 {
    font-size: 0.75rem !important;
    padding: 0.75rem 0.75rem;
  }
}
.button-1.secondary {
  background-color: rgb(232, 132, 64);
  color: #fff;
  border-radius: 0.75rem;
}

.footer.hide {
  display: none;
}
.footer-top {
  width: 80%;
  padding: 2.5rem 0;
  margin: 0 auto;
  background-image: url(../../assets/footer/form.jpeg);
  border-radius: 800px;
  color: #fff;
  transform: translateY(95%);
  position: relative;
}
.footer-top img {
  position: absolute;
  top: -31%;
  left: -2%;
  width: 350px;
  height: 200px;
}
@media (max-width: 991px) {
  .footer-top img {
    display: none;
  }
}
.footer-top_form {
  text-align: center;
  margin-left: 4.5rem;
}
@media (max-width: 991px) {
  .footer-top_form {
    margin-left: 0;
  }
}
.footer-top_form h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
.footer-top_form h3 {
  font-size: 1rem;
}
.footer-center {
  background-image: url(../../assets/footer/footer.png);
  background-size: cover;
  color: #fff;
  padding: 13rem 0 8rem 0;
}
.footer-center_cols h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
.footer-center_cols h4::after {
  content: "";
  display: block;
  width: 20%;
  height: 4px;
  background-color: #fecb5f;
  margin-top: 0.55rem;
  border-radius: 2.5rem;
}
@media (max-width: 767px) {
  .footer-center_cols h4::after {
    width: 8%;
  }
}
.footer-center_social {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.footer-center_social li a {
  color: #fff;
}
.footer-center_social_logo {
  width: 50%;
}
.footer-center_social_text {
  margin: 1.75rem 0;
  width: 60%;
  font-size: 0.875rem;
}
.footer-center_social li {
  transition: 0.5s;
  font-size: 1rem;
}
.footer-center_social li:hover {
  transform: translateY(-10px);
}
.footer-center_listInfor {
  padding-left: 0;
}
.footer-center_listInfor li {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}
.footer-center_listInfor li:hover {
  text-decoration: underline;
  color: #bcdc6d;
  transform: translateX(5%);
}
.footer-center_listInfor li:hover a {
  color: #bcdc6d;
  font-size: 600;
}
.footer-center_listInfor li i {
  margin-right: 0.55rem;
}
.footer-center_listInfor li a {
  color: #fff;
  transition: 0.5s;
}
.footer-center_listInfor_timing h5 {
  color: rgb(232, 132, 64);
  font-size: 1rem;
  font-weight: 700;
  margin: 1.25rem 0;
}
.footer-center_listInfor_timing p {
  font-size: 0.875rem;
}
.footer-center_listInfor_timing p span {
  font-weight: 600;
}
.footer-center_image {
  display: flex;
  flex-wrap: wrap;
}
.footer-center_image_instar {
  width: 30%;
  margin-bottom: 0.55rem;
}
.footer-center_image_instar img {
  width: 90%;
}
.footer-bot {
  margin-top: -90px;
  background-image: url(../../assets/footer/footer_child.png);
  background-size: cover;
}
.footer-bot h5 {
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  padding: 7rem 0 2rem 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .footer-bot h5 {
    padding: 4rem 0 2rem 0;
  }
}
.footer-scrolltop {
  color: #1c6d24;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #1c6d24;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  background-color: #fff;
}
.footer-scrolltop.active {
  opacity: 1;
}
.footer-navigation {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  border: 0.5px solid #1c6d24;
  padding: 10px 17px;
  border-radius: 100px;
  z-index: 9999;
  opacity: 0;
  transition: 0.5s;
  background-color: #fff;
  text-align: center;
}
.footer-navigation.active {
  opacity: 1;
}
@media (max-width: 991px) {
  .footer-navigation {
    display: none;
  }
}
.footer-navigation a {
  display: block;
  margin: 25px 0;
  position: relative;
}
.footer-navigation a i {
  color: #1c6d24;
}
.footer-navigation a:hover span {
  opacity: 1;
  visibility: visible;
  color: #fff;
}
.footer-navigation span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -120px;
  text-align: right;
  padding: 5px;
  width: 100px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: #1c6d24;
  border-radius: 100px;
}
.footer-navigation span::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #1c6d24;
  border-bottom: 5px solid transparent;
}

.headline {
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .headline {
    padding: 1.5rem 0;
  }
}
.headline h2 {
  color: rgb(40, 89, 84);
  font-size: 2.5rem;
  text-align: center;
}
.headline h2::after {
  content: "";
  display: block;
  width: 5%;
  height: 8px;
  background-color: rgb(232, 132, 64);
  margin: 0.55rem auto;
}
@media (max-width: 575px) {
  .headline h2 {
    font-size: 1.75rem;
  }
}

.menudetail {
  display: flex;
  margin: 2.25rem auto;
  width: 80%;
}
@media (max-width: 767px) {
  .menudetail {
    width: 100%;
  }
}
.menudetail-images {
  width: 4cqb;
}
.menudetail-images img {
  width: 100%;
}
.menudetail-detail {
  width: 60%;
  padding: 0 3rem;
}
@media (max-width: 767px) {
  .menudetail-detail {
    padding: 0;
  }
}
.menudetail-detail h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.menudetail-detail h5 {
  color: #ed5565;
  font-size: 1rem;
  margin: 1.25rem 0;
  font-weight: 700;
}
@media (max-width: 767px) {
  .menudetail-detail h5 {
    margin: 0;
  }
}
.menudetail-detail p {
  font-size: 1rem;
}
.menudetail-detail p i {
  margin-right: 0.75rem;
}
.menudetail-detail h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .menudetail-detail h4 {
    margin-top: 0;
  }
}
.menudetail_button {
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .menudetail_button {
    margin-top: 1rem;
  }
}
.menudetail_button a {
  margin-right: 1.25rem;
}

.cartfood-image {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
.cartfood-image img {
  border-radius: 1rem;
}
.cartfood-price {
  text-align: center;
  margin-top: 1.25rem;
}
.cartfood-price h2 {
  font-size: 1rem;
}
.cartfood-price h3 {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .slider {
    background-color: rgba(254, 203, 95, 0.2);
  }
}
.slider-content {
  width: 90%;
  margin: 80px auto;
  transform: translateX(100px);
  position: relative;
}
@media (max-width: 991px) {
  .slider-content_image {
    padding: 2rem !important;
  }
  .slider-content_image_spoon {
    display: none;
  }
  .slider-content_image_fork {
    display: none;
  }
  .slider-content_image_green {
    display: none;
  }
}
@media (max-width: 767px) {
  .slider-content {
    transform: none;
    margin: 40px auto;
  }
  .slider-content_image {
    display: none;
  }
}
.slider-content_image {
  position: relative;
  border: 1px solid #000;
  border-radius: 100%;
  padding: 4rem;
}
.slider-content_image img {
  transition: 4s;
}
.slider-content_image_spoon {
  position: absolute;
  bottom: -25%;
  left: -10%;
  transition: 2s;
}
@media (max-width: 991px) {
  .slider-content_image_spoon {
    display: none;
  }
}
.slider-content_image_fork {
  position: absolute;
  bottom: -25%;
  right: -10%;
  transition: 2s;
}
@media (max-width: 991px) {
  .slider-content_image_fork {
    display: none;
  }
}
.slider-content_image_green {
  position: absolute;
  top: 10%;
  right: -20%;
}
.slider-infor {
  transform: translate(10%, 70%);
}
@media (max-width: 991px) {
  .slider-infor {
    transform: none;
  }
  .slider-infor h2 {
    font-size: 2.25rem !important;
    width: 60%;
  }
  .slider-infor h3 {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 767px) {
  .slider-infor {
    text-align: center;
  }
  .slider-infor h2 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .slider-infor h2 {
    font-size: 2rem !important;
  }
  .slider-infor h3 {
    font-size: 1.5rem !important;
  }
}
.slider-infor h2 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(232, 132, 64);
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.5s;
}
.slider-infor h3 {
  font-size: 2rem;
  color: rgb(40, 89, 84);
  margin-bottom: 1.75rem;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-150%);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.slider-infor .button-1 {
  opacity: 0;
  transform: translateY(-200%);
  transition: 0.5s;
  transition-delay: 1s;
}
.slider-vector_1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
}
.slider-vector_2 {
  position: absolute;
  top: 0;
  right: 13%;
  z-index: -1;
  width: 20%;
}
@media (max-width: 991px) {
  .slider-vector_2 {
    right: 10%;
    top: -12px;
    z-index: -1;
    width: 18%;
  }
}
.slider-vector_3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 30%;
}
@media (max-width: 991px) {
  .slider-vector_3 {
    width: 25%;
  }
}
.slider-pic img {
  position: absolute;
  z-index: -1;
  width: 25%;
  mix-blend-mode: color-burn;
}
@media (max-width: 991px) {
  .slider-pic img {
    width: 20%;
  }
}
.slider-pic_1 {
  right: 3%;
  top: 20%;
}
.slider-pic_2 {
  right: 0;
  top: 0;
}
.slider-pic_3 {
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .slider-pic_3 {
    bottom: 100px;
  }
}
.slider .slick-active .slider-content_image_title {
  transform: rotate(360deg);
}
.slider .slick-active .slider-content_image_spoon {
  bottom: 60%;
  left: -30%;
  transform: rotate(100deg);
}
.slider .slick-active .slider-content_image_fork {
  bottom: 62%;
  right: -28%;
  transform: rotate(-100deg);
}
.slider .slick-active .slider-infor h2 {
  opacity: 1;
  transform: translateY(0);
}
.slider .slick-active .slider-infor h3 {
  opacity: 1;
  transform: translateY(0);
}
.slider .slick-active .slider-infor .button-1 {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 767px) {
  .slider-images {
    display: none;
  }
}

.slick-dots li button::before {
  font-size: 1rem !important;
}

.slick-prev {
  left: 10px;
  opacity: 0.5 !important;
}
.slick-prev::before {
  color: #1c6d24 !important;
}

.slick-next {
  right: 10px !important;
  opacity: 0.5 !important;
}
.slick-next::before {
  color: #1c6d24 !important;
}

.work {
  margin-top: 4.5rem;
  padding: 2.75rem 0;
  background-color: #f7f6ea;
}
@media (max-width: 767px) {
  .work {
    padding: 1.25rem 0;
    margin-top: 0;
  }
}
.work h3 {
  font-size: 4.5rem;
  text-align: center;
  color: rgb(232, 132, 64);
}
@media (max-width: 767px) {
  .work h3 {
    font-size: 3rem;
  }
  .work h3 span {
    font-size: 1.75rem;
  }
}
.work h3 span {
  font-size: 2.25rem;
  margin-right: 0.55rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(232, 132, 64);
  color: transparent;
}
.work-ideal {
  padding: 0.55rem 0;
  text-align: center;
}
.work-ideal h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
.work-ideal p {
  font-size: 0.875rem;
}

.product {
  padding-top: 2rem;
}
@media (max-width: 767px) {
  .product {
    padding-top: 0;
  }
}
.product h3 {
  text-align: center;
  color: rgb(232, 132, 64);
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 500;
}
.product-image {
  position: relative;
  padding-top: 2rem;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.product-image:hover::after {
  background-color: rgb(232, 132, 64);
}
.product-image:hover::before {
  background-color: rgb(40, 89, 84);
  bottom: -30px;
  opacity: 1;
}
.product-image:hover img {
  filter: brightness(0) invert(1);
}
.product-image img {
  width: 80%;
  margin: 0 auto;
  z-index: 9;
  position: relative;
}
.product-image::before {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  background-color: rgb(40, 89, 84);
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 100%;
  margin: 0.55rem auto;
  transition: 0.3s;
}
.product-image::after {
  content: "";
  display: block;
  width: 61%;
  height: 50px;
  background-color: rgb(40, 89, 84);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  margin: 0.55rem auto;
  transition: 0.5s;
}

.tabmenu {
  background-color: #f7f6ea;
  padding: 1.25rem 0;
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .tabmenu {
    margin-top: 0.75rem;
  }
}
.tabmenu-listmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.tabmenu-listmenu li {
  width: calc(25% - 1.25rem);
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid transparent;
  padding: 0.75rem;
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.tabmenu-listmenu li.active {
  color: rgb(232, 132, 64);
  border: 1px solid rgb(232, 132, 64);
}
.tabmenu-listmenu li:hover {
  color: rgb(232, 132, 64);
  border: 1px solid rgb(232, 132, 64);
}
@media (max-width: 575px) {
  .tabmenu-listmenu li {
    width: calc(50% - 1.25rem) !important;
  }
}
.tabmenu-content {
  display: none;
}
.tabmenu-content.active {
  display: block;
}

.enviroment {
  margin: 2.5rem 0;
}
.enviroment-content img {
  width: 30%;
  margin: 0 auto;
}
.enviroment-content p {
  text-align: center;
}

.map-location iframe {
  border-radius: 0.75rem;
}
.map-system {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
}
.map-system h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(40, 89, 84);
  margin-bottom: 2rem;
}
.map-system-scroll {
  overflow-y: scroll;
  /* Track */
  /* Handle */
}
.map-system-scroll::-webkit-scrollbar {
  width: 4px;
}
.map-system-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.map-system-scroll::-webkit-scrollbar-thumb {
  background: rgb(40, 89, 84);
  border-radius: 50px;
}
.map-system-box {
  height: 345px;
}
.map-card {
  background-color: #fff;
  cursor: pointer;
}
.map-card-branch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.55rem;
  align-items: unset;
  margin-bottom: 1rem;
}
.map-card-branch img {
  width: 200px;
  height: 150px;
  border-radius: 0.75rem 0 0.75rem 0;
}
@media (max-width: 575px) {
  .map-card-branch img {
    width: 140px;
    height: 100px;
  }
}
.map-card-branch_text h4 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.map-card-branch_text h4 i {
  margin-right: 0.55rem;
}
.map-card-branch_text h3 {
  font-size: 1rem;
  color: rgb(40, 89, 84);
  font-weight: 700;
}
.map-card-branch_text h3 i {
  margin-right: 5px;
  color: rgb(232, 132, 64);
}

.feedback-child {
  margin-top: 1.25rem;
  text-align: center;
}
.feedback-child img {
  width: 15%;
  margin: 0 auto;
}
.feedback-child h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
}
.feedback-child p {
  width: 90%;
  font-size: 1rem;
  margin: 0 auto;
}

.about img {
  width: 100%;
}
.about-story {
  margin: 2rem 0;
  text-align: center;
}
@media (max-width: 575px) {
  .about-story {
    margin: 0.75rem 0;
  }
}
@media (max-width: 434) {
  .about-story {
    margin: 0.55rem 0;
  }
}
.about-story_text {
  padding-top: 3rem;
}
@media (max-width: 991px) {
  .about-story_text {
    padding-top: 0;
  }
}
.about-story_text h2 {
  margin: 1.25rem 0;
  font-weight: 600;
  font-size: 1.25rem;
}
@media (max-width: 767px) {
  .about-story_text h2 {
    font-size: 0.55rem;
    margin: 0.55rem 0;
  }
}
.about-story_text h2 span {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  letter-spacing: 0.55rem;
}
@media (max-width: 767px) {
  .about-story_text h2 span {
    margin-bottom: 0.55rem;
    font-size: 0.55rem;
    display: inline;
    font-weight: 600;
    letter-spacing: 0;
  }
}
.about-story_text p {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .about-story_text p {
    font-size: 0.55rem;
  }
}
.about-img {
  position: relative;
}
.about-img img {
  border-radius: 1.25rem;
}
.about-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3450980392);
  border-radius: 1.25rem;
}

.menu-imageMenu {
  position: relative;
}
.menu-imageMenu img {
  height: 350px;
  object-fit: cover;
}
.menu-textBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6078431373);
  transform: translate(-50%, -50%);
  border-radius: 1.25rem;
  text-align: center;
  padding: 2.5rem;
}
.menu-textBanner h2 {
  color: #fff;
  font-size: 2rem;
}
.menu-textBanner h3 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.menu-textBanner .button-1.secondary {
  font-size: 0.75rem;
}
.menu-listmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem auto;
  width: 70%;
}
.menu-listmenu_available {
  display: block;
  color: red;
  font-size: 0.75rem;
}
.menu-listmenu li {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.55rem;
  cursor: pointer;
}
.menu-listmenu li::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: #bcdc6d;
  border-radius: 0.55rem;
  transition: 0.5s;
}
.menu-listmenu li.active {
  color: rgb(40, 89, 84);
}
.menu-listmenu li.active::after {
  width: 100%;
}
.menu-listmenu li.disable {
  color: #eee;
}
.menu-listmenu li.disable::after {
  width: 100%;
  background-color: #eee;
}
.menu-content {
  display: none;
}
.menu-content.active {
  display: block;
}
.menu-button {
  text-align: center;
}
.menu-button h5 {
  margin-bottom: 1.75rem;
  font-size: 1.75rem;
}
.menu-button h5 span {
  font-weight: 700;
}
.menu-button_button-1 {
  background-color: transparent;
  border: 1px solid rgb(232, 132, 64);
  color: rgb(232, 132, 64);
  border-radius: 3rem;
  padding: 1rem 1rem;
  font-weight: bold;
}
@media (max-width: 991px) {
  .menu-button_button-1 {
    font-size: 0.75rem !important;
    padding: 0.75rem 0.75rem;
  }
}

.cardMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: 70%;
  margin: 2.5rem auto;
  padding: 1.25rem 0;
  border-bottom: 1px solid #eee;
}
.cardMenu-imgMenu {
  text-align: center;
}
.cardMenu-imgMenu img {
  border-radius: 0.55rem;
}
.cardMenu-textMenu h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #1c6d24;
}
.cardMenu-textMenu h5 {
  font-size: 0.75rem;
  color: #1c6d24;
  font-weight: 700;
  background-color: rgba(232, 131, 64, 0.199);
  display: inline-block;
  padding: 0.55rem;
  border-radius: 0.55rem;
}
.cardMenu-textMenu h5 i {
  margin-right: 0.55rem;
  color: #ed5565;
}
.cardMenu-textMenu p {
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.cardMenu-textMenu li {
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.55rem;
}
.cardMenu-textMenu li span {
  font-weight: 400;
}

.calories-image {
  position: relative;
  margin-bottom: 2rem;
}
.calories-image img {
  height: 350px;
  object-fit: cover;
}
.calories-textBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6078431373);
  transform: translate(-50%, -50%);
  border-radius: 1.25rem;
  text-align: center;
  padding: 2.5rem;
}
.calories-textBanner h2 {
  color: #fff;
  font-size: 2rem;
}
.calories-textBanner h3 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.calories-caculate {
  border: 2px dashed #1c6d24;
  border-radius: 0.55rem;
  padding: 1rem;
}
.calories-calo h4 {
  margin-bottom: 1.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  background-color: #1c6d24;
  display: inline-block;
  padding: 0.55rem 0.75rem;
  border-radius: 40px;
}
.calories-calo h4 span {
  background-color: rgb(232, 132, 64);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 0.75rem;
}
.calories-calo h4 span i {
  color: #fff;
  font-size: 1rem;
}
.calories-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}
.calories-input h5 {
  margin-right: 1.25rem;
  font-size: 1rem;
}
.calories-input input,
.calories-input select {
  width: 100%;
  padding: 0.55rem;
  border-radius: 1.5rem;
  border: 1px solid #c2c2c2;
  margin-bottom: 1rem;
}
.calories-button button {
  width: 100%;
  padding: 0.55rem;
  border: 2px solid #1c6d24;
  border-radius: 1.5rem;
  font-weight: 600;
  color: #1c6d24;
  background-color: transparent;
}
.calories-showResultCalo {
  margin-top: 2rem;
}
.calories-showResultBmi {
  margin-top: 2rem;
}
.calories_showCalo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(28, 109, 36, 0.1019607843);
  padding: 0.55rem;
  margin-bottom: 1.25rem;
  border-radius: 0.55rem;
}
.calories-totalCalo {
  text-align: right;
  font-size: 1.25rem;
}
.calories-totalCalo span {
  color: #1c6d24;
  font-weight: 800;
}
.calories_leftCalo {
  font-weight: 600;
  font-size: 1.25rem;
  color: #1c6d24;
}
.calories_rightCalo {
  display: flex;
  align-items: center;
  justify-content: left;
}
.calories_rightCalo_text {
  margin-right: 0.75rem;
}
.calories_rightCalo_text span {
  font-weight: 500;
}
.calories_rightCalo_text .fa-fire {
  margin-right: 0.75rem;
  color: rgb(232, 132, 64);
}
.calories_rightCalo_text .fa-weight-scale {
  margin-right: 0.75rem;
  color: #1c6d24;
}
.calories-bmi h4 {
  margin-bottom: 1.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  background-color: rgb(232, 132, 64);
  display: inline-block;
  padding: 0.55rem 0.75rem;
  border-radius: 40px;
}
.calories-bmi h4 span {
  background-color: #1c6d24;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 0.75rem;
}
.calories-bmi h4 span i {
  color: #fff;
  font-size: 1rem;
}
.calories_showbmi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(232, 132, 64, 0.23);
  padding: 0.55rem;
  margin-bottom: 1.25rem;
  border-radius: 0.55rem;
}
.calories-totalbmi {
  text-align: right;
  font-size: 1.25rem;
}
.calories-totalbmi span {
  color: #1c6d24;
  font-weight: 800;
}
.calories_leftbmi {
  font-weight: 600;
  font-size: 1.25rem;
  color: #1c6d24;
}
.calories_rightbmi {
  display: flex;
  align-items: center;
  justify-content: left;
}
.calories_rightbmi_text {
  margin-right: 0.75rem;
}
.calories_rightbmi_text span {
  font-weight: 500;
}
.calories_rightbmi_text .fa-weight-hanging {
  margin-right: 0.55rem;
  color: rgb(232, 132, 64);
}
.calories_rightbmi_text .fa-scale-balanced {
  margin-right: 0.55rem;
  color: #1c6d24;
}
.calories-buttonType {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calories-buttonType h2 {
  font-size: 1.25rem;
  width: 20%;
}
.calories-buttonType-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 80%;
}
.calories-buttonType-type_child {
  color: #1c6d24;
  padding: 0.55rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(28, 109, 36, 0.1019607843);
}
.calories-buttonType-type_child i {
  font-size: 0.75rem;
  margin-right: 0.75rem;
  color: rgb(232, 132, 64);
}
.calories-result {
  margin-top: 3rem !important;
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid rgba(28, 109, 36, 0.1019607843);
  text-align: center;
}

.recipe-image {
  position: relative;
  margin-bottom: 2rem;
}
.recipe-image img {
  height: 350px;
  object-fit: cover;
}
.recipe-title_meal {
  margin: 30px auto;
  width: 50%;
  text-align: center;
}
.recipe-title_input {
  position: relative;
}
.recipe-title_input i {
  position: absolute;
  top: 0;
  right: 20%;
  font-size: 20px;
  background-color: #f06000;
  padding: 12.5px;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  color: #fff;
  cursor: pointer;
}
.recipe-title_input input {
  padding: 10px;
  width: 60%;
  border: 1px solid #f06000;
  border-radius: 30px;
  color: #f06000;
}
.recipe-list_detailFood {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.recipe-list-food {
  margin: 1rem;
}
.recipe-list-food img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.recipe-list-food_content {
  text-align: center;
  margin-top: 20px;
}
.recipe-list-food_content h2 {
  margin-bottom: 0.55rem;
  font-size: 1rem;
}
.recipe-list-food_content button {
  padding: 0.55rem 1rem;
  background-color: rgb(232, 132, 64);
  color: #fff;
  border-radius: 1.25rem;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  transition: 0.5s;
}
.recipe-list-food_content button:hover {
  color: #fff;
  border: none;
  background-color: #793000;
}
.recipe-clickFood {
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5215686275);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.recipe-clickFood.active {
  opacity: 1;
  visibility: visible;
}
.recipe-clickFood_text {
  max-height: 500px;
}
.recipe-clickFood_text h1 {
  font-size: 1.75rem;
  font-weight: 500;
}
.recipe-clickFood_text p {
  font-size: 1rem;
}
.recipe-clickFood_text p span {
  font-weight: 800;
  margin-right: 0.55rem;
}
.recipe-clickFood_inner {
  background-color: #f06000;
  color: #fff;
  padding: 20px;
  z-index: 9999;
  margin: 80px 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 60%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) !important;
  transition: 0.5s;
}
.recipe-clickFood_inner.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.recipe-clickFood_close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-clickFood_close i {
  background-color: #fff;
  padding: 5px 8px;
  font-size: 20px;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.recipe-clickFood_box {
  overflow-y: auto;
}

.s-cart {
  padding: 5px 0;
}
.s-cart h2 {
  font-size: 1.25rem;
  color: #1c6d24;
  font-weight: 600;
}
.s-cart-form_child .s_input {
  width: 100%;
}
.s-cart-form_child .s_input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 2rem;
}
.s-cart-form_child .s_input h5 {
  font-size: 1rem;
  width: 20%;
}
.s-cart-form_child .s_input textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 2rem;
}
.s-cart-form_child .s_input select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border: 1px solid #a8a8a8;
  border-radius: 2rem;
}
.s-cart-form_child .s_input textarea {
  width: 100%;
  padding: 0.5rem;
}
.s-cart-form .s_radioActive {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.25rem;
  border: 2px solid rgb(232, 132, 64);
  padding: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
}
.s-cart-form .s_radioActive img {
  width: 10%;
}
.s-cart-form .s_radioActive_text {
  font-size: 0.875rem;
}
.s-cart-form .s_radioActive_text h4 {
  font-size: 0.875rem;
  display: block;
}
.s-cart-form .s_radio {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.25rem;
  border: 1px solid #a8a8a8;
  padding: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
}
.s-cart-form .s_radio img {
  width: 10%;
}
.s-cart-form .s_radio_text {
  font-size: 0.875rem;
}
.s-cart-form .s_radio_text h4 {
  font-size: 0.875rem;
  display: block;
}
.s-cart-form .s_radio_right {
  width: 50%;
}
.s-cart-form .s_radio_right img {
  width: 20%;
  margin-left: auto;
  display: none;
  transition: 0.5s;
}
.s-cart-form .s_radio_right.active img {
  display: block;
}
.s-cart-form .s_radio_left {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  gap: 2rem;
}
.s-cart-form .s_radio_left img {
  width: 50px;
}
.s-cart-form .s_radio_left_text {
  font-size: 0.875rem;
}
.s-cart-form .s_radio_left_text h4 {
  font-size: 0.875rem;
  display: block;
}
.s-cart-form .s_button_1 {
  text-align: center;
  background-color: rgb(232, 132, 64);
  border: 2px solid rgb(232, 132, 64);
  color: #fff;
  border-radius: 0.55rem;
  font-weight: 700;
  padding: 0.55rem;
  width: 100%;
  transition: 0.5s;
}
.s-cart-form .s_button_1:hover {
  background-color: #fff;
  color: rgb(232, 132, 64);
  font-weight: 700;
  border: 2px solid rgb(232, 132, 64);
}
.s-cart .s-left {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
}
.s-cart .s-left_totalprice {
  font-size: 1rem;
  margin-top: 1.25rem;
}
.s-cart .s-left_totalprice span {
  font-weight: 600;
  margin-left: 0.75rem;
  font-size: 1.25rem;
}
.s-cart .s-left_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-cart .s-left_title_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-cart .s-left_title_left h2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #1c6d24;
  font-weight: 800;
}
.s-cart .s-left_title_left h2 i {
  margin-right: 0.75rem;
  color: #1c6d24;
  background-color: #fecb5f;
  padding: 0.55rem;
  border-radius: 4.5rem;
}
.s-cart .s-left_title_left h2 span {
  margin: 0 0.55rem;
  font-weight: 400;
}
.s-cart .s-left .s-item {
  margin: 0.55rem 0 1rem 0;
  border-bottom: 1px solid #eee;
}
.s-cart .s-left .s-item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-cart .s-left .s-item_top i {
  cursor: pointer;
  transition: 0.5s;
  padding: 0.55rem;
  border-radius: 50%;
}
.s-cart .s-left .s-item_top i:hover {
  background-color: rgb(232, 132, 64);
  color: #fff;
}
.s-cart .s-left .s-item_top_left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.s-cart .s-left .s-item_top_left h2 {
  font-size: 1rem;
  font-weight: 600;
}
.s-cart .s-left .s-item_top_left h2 i {
  color: #1c6d24;
  background-color: #fecb5f;
  padding: 0.55rem;
  border-radius: 4.5rem;
}
.s-cart .s-left .s-item_top_left h2 span {
  margin: 0 0.55rem;
  font-weight: 400;
}
.s-cart .s-left .s-item_top_left h3 {
  font-size: 0.875rem;
  margin-left: 1.25rem;
  color: #1c6d24;
}
.s-cart .s-left .s-item_top_left h3 i {
  color: #1c6d24;
  padding: 0.55rem;
  border-radius: 4.5rem;
}
.s-cart .s-left .s-item_top_left h3 span {
  margin-left: 5px;
  font-weight: 700;
}
.s-cart .s-left .s-item_bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.s-cart .s-left .s-item .s_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.s-cart .s-left .s-item .s_left img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 0.55rem;
}
.s-cart .s-left .s-item .s_left_child {
  margin-left: 0.55rem;
}
.s-cart .s-left .s-item .s_left_child h4 {
  font-weight: 600;
  font-size: 0.75rem;
}
.s-cart .s-left .s-item .s_left_child h5 {
  font-size: 0.75rem;
}

.s-totalFixed {
  position: sticky;
  z-index: 99999999999;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #1c6d24;
  padding: 0.75rem;
  margin-top: 1.25rem;
}
.s-totalFixed_text {
  text-align: center;
  font-size: 0.875rem;
}
.s-totalFixed_text span {
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
}
.s-totalFixed_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-totalFixed_price .s_totalPrice {
  display: flex;
  align-items: center;
  justify-content: left;
}
.s-totalFixed_price .s_totalPrice .s_textTotal {
  display: flex;
  align-items: center;
  justify-content: left;
}
.s-totalFixed_price .s_totalPrice .s_textTotal h4 {
  font-size: 0.875rem;
}
.s-totalFixed_price .s_totalPrice .s_textTotal h5 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 0.55rem;
}
.s-totalFixed_price .s_button {
  text-align: center;
}
.s-totalFixed_price .s_button .s_button_1 {
  background-color: rgb(232, 132, 64);
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.55rem;
  padding: 0.55rem;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 500;
}

.notification span {
  font-style: italic;
  font-weight: 600;
}

.emptyCart {
  margin-top: 4.5rem;
}
.emptyCart img {
  width: 30%;
  margin: 0 auto;
}
.emptyCart p {
  font-size: 1.5rem;
  text-align: center;
}

.s-payment {
  margin: 3rem 0;
}
.s-payment h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.s-payment-left .s_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.s-payment-left .s_input h5 {
  font-size: 1rem;
  width: 20%;
}
.s-payment-left .s_input input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}
.s-payment-left .s_input textarea {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}
.s-payment-left textarea {
  width: 80%;
  padding: 0.5rem;
}
.s-payment-left .s_button_1 {
  text-align: center;
  background-color: rgb(232, 132, 64);
  border: 2px solid rgb(232, 132, 64);
  color: #fff;
  border-radius: 0.55rem;
  font-weight: 700;
  padding: 0.55rem;
  width: 100%;
  transition: 0.5s;
}
.s-payment-left .s_button_1:hover {
  background-color: #fff;
  color: rgb(232, 132, 64);
  font-weight: 700;
  border: 2px solid rgb(232, 132, 64);
}
.s-payment-right {
  background-color: #efefef;
  padding: 3rem 3rem 0 3rem;
}
.s-payment-right h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.s-payment-right_order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding-top: 1rem;
}
.s-payment-right_order:nth-child(6) {
  border-bottom: 1px solid #fecb5f;
}
.s-payment-right_order:last-child {
  border-bottom: unset;
}
.s-payment-right_order_orderText {
  font-size: 1rem;
}
.s-payment-right_order_orderPrice {
  font-size: 1rem;
  font-weight: 500;
}

.register {
  margin: 0 auto;
  margin-top: 2.75rem;
  width: 65%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.75rem;
}
.register-left img {
  width: 400px;
  height: 620px;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}
.register-right {
  padding: 2rem;
}
.register-right h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #1c6d24;
}
.register-right h3 {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.register-right button {
  background-color: rgb(232, 132, 64);
  color: #fff;
  padding: 0.75rem;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 0.55rem;
}
.register-input {
  margin: 1.25rem 0;
}
.register-input h5 {
  font-size: 1rem;
}
.register-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.55rem;
}

.error {
  color: red;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 500;
}

.login {
  margin: 0 auto;
  margin-top: 2.75rem;
  width: 65%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.75rem;
}
.login-left img {
  width: 400px;
  height: 620px;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}
.login-right {
  padding: 3.5rem;
}
.login-right h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #1c6d24;
}
.login-right h3 {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.login-input {
  margin: 1.25rem 0;
}
.login-input h5 {
  font-size: 1rem;
}
.login-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.55rem;
}
.login-button {
  margin-top: 2rem;
}
.login-button_login {
  background-color: rgb(232, 132, 64);
  color: #fff;
  padding: 0.75rem;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 0.55rem;
}
.login-button_google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-button h4 {
  font-size: 0.875rem;
  text-align: center;
  color: #b1b1b1;
}
.login-button p {
  text-align: center;
  font-size: 0.875rem;
}

.c-bodyAdmin {
  background-color: #1c6d24;
  padding: 1.25rem;
}

.c-rightAdmin {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.55rem;
  padding: 1.25rem;
}

.c-dashboard {
  background-color: rgba(251, 251, 251, 0.031372549);
  border-radius: 0.55rem;
  height: 100vh;
  padding: 1rem 2rem;
}
.c-dashboard h2 {
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: #fcfcfc;
  font-weight: bold;
}
.c-dashboard .c_menu li {
  margin-bottom: 0.55rem;
  transition: 0.5s;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1.25rem;
  padding: 0.55rem;
  cursor: pointer;
}
.c-dashboard .c_menu li a {
  transition: 0.5s;
  padding: 0.55rem;
  color: #fff;
}
.c-dashboard .c_menu li a:hover {
  background-color: #fff;
  border-radius: 1.25rem;
  color: #1c6d24;
  font-weight: 500;
  padding: 0.55rem;
}
.c-dashboard .c_menu li i {
  margin-right: 0.75rem;
}
.c-dashboard .c_menu .c_subMenu {
  margin-left: 2rem;
}
.c-dashboard .c_menu .c_subMenu li {
  margin-top: 1.25rem;
}

.c-nameAd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-nameAd h3 {
  margin-right: auto;
  font-weight: 600;
}
.c-nameAd_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-nameAd_right i {
  font-size: 1.5rem;
}
.c-nameAd_left h3 {
  font-size: 1.25rem;
}
.c-nameAd_left p {
  font-size: 0.875rem;
}
.c-nameAd_left i {
  color: rgb(232, 132, 64);
  margin-left: 0.75rem;
}
.c-nameAd .button2 {
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  text-decoration: underline;
  margin-left: 1rem;
}
.c-nameAd .c_name {
  display: flex;
  align-items: center;
  justify-content: "center";
  background-color: #fff;
  padding: 1rem;
  width: 20%;
  margin-right: 1rem;
  border-radius: 50px;
}
.c-nameAd .c_name h5 {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  color: #6384e8;
}
.c-nameAd .c_name img {
  width: 13%;
  border-radius: 50%;
}

.menuManage {
  margin-top: 2rem;
  border-radius: 0.75rem;
}
.menuManage-input h5 {
  font-size: 1rem;
}
.menuManage-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.55rem;
}
.menuManage-button {
  margin-top: 2.25rem;
}
.menuManage-button_login {
  background-color: rgb(232, 132, 64);
  color: #fff;
  padding: 0.75rem;
  font-size: 0.875rem;
  width: 30%;
  border-radius: 0.55rem;
}
.menuManage-table {
  margin-top: 2.5rem;
}
.menuManage-table tbody tr td button {
  background-color: #1c6d24;
  color: #fff;
  padding: 0.55rem;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 0.55rem;
}

.menuManage-input select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 0.55rem;
}

.c-revenue {
  margin-top: 2.75rem;
}
.c-revenue_card {
  background-color: rgba(29, 109, 36, 0.1215686275);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #1c6d24;
  padding: 0.75rem;
  border-radius: 0.55rem;
}
.c-revenue_card h2 {
  font-size: 1.75rem;
  font-weight: 800;
}
.c-revenue_card h5 {
  margin: 2rem 0;
  color: black;
  font-size: 0.875rem;
}
.c-revenue_card .icon {
  text-align: right;
}
.c-revenue_card .icon i {
  width: 20%;
  color: rgb(232, 132, 64);
  text-align: center;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: rgba(232, 132, 64, 0.26);
}

.notification i {
  margin-right: 0.75rem;
}
.notification-child {
  margin-left: 2rem;
  font-size: 0.875rem;
  margin: 1.25rem;
}
.notification-child span {
  font-style: italic;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */