.s-dashboard {
    background-color: $primary-color;
    border-radius: $fs-8;
    padding: $fs-12;
    &_infor {
        margin: $fs-16 0;
        span {
            color: $secondary-color;
            font-weight: 600;
            margin-right: $fs-8;
        }
    }
}
@media (max-width: 767px) {
    .s-orderManage-table {
        overflow-x: scroll; /* Luôn hiển thị thanh cuộn ngang */
        -webkit-overflow-scrolling: touch; /* Cải thiện trải nghiệm cuộn trên iOS */
    }

    .s-orderManage-table table {
        min-width: 700px;
    }
}
