.s-dashboard {
    background-color: $primary-color;
    border-radius: $fs-8;
    padding: $fs-12;
    &_infor {
        margin: $fs-16 0;
        span {
            color: $secondary-color;
            font-weight: 600;
            margin-right: $fs-8;
        }
    }
}
