.s-orderManage {
    margin-top: $fs-40;
    ul {
        li {
            font-size: $fs-16;
            color: #fff;
            margin-bottom: $fs-16;
            i {
                margin-right: $fs-8;
                color: $primary-color;
            }
        }
    }
}
