.yes {
    background-color: red !important;
    color: white;
}

.yellow {
    background-color: yellow !important;
    color: black;
    border: none;

    &:hover {
        border: none;
        color: black;
    }
}
.green {
    background-color: green !important;
    color: white;
}
.red {
    border: none;

    background-color: red !important;
    &:hover {
        border: none;
        color: #fff;
    }
}
