.yes {
    background-color: #0d6efd !important;
    color: white;
    text-align: center;
    border-radius: $fs-8;
}

.yellow {
    background-color: yellow !important;
    color: black;
    border-radius: $fs-8;
    padding: 10px;
    text-align: center;
    &:hover {
        border: none;
        color: black;
    }
}
.green {
    background-color: green !important;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: $fs-8;
}
.red {
    border: none;

    background-color: red !important;
    &:hover {
        border: none;
        color: #fff;
    }
}
.notification {
    &-child {
        font-size: $fs-14;
        margin-left: $fs-20;
    }
    &_des {
        display: flex;
        align-items: center;
        h5 {
            margin-left: 10px;
        }
    }
}
.s_left {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: $fs-8;
    }
    &_child {
        margin-left: $fs-8;
        h4 {
            font-weight: 600;
            font-size: $fs-12;
        }
        h5 {
            font-size: $fs-12;
        }
    }
}
