$primary-color: #fecb5f;
$secondary-color: #1c6d24;
$third-color: rgb(232, 132, 64);
$four-color: rgb(40, 89, 84);
$fifth-color: #bcdc6d;
$six-color: #f7f6ea;
$red-color: #ed5565;

$trans: 0.3s;

$fs-8: 0.55rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-44: 2.75rem;
$fs-48: 3rem;
$fs-52: 3.25rem;
$fs-56: 3.5rem;
$fs-60: 3.75rem;
$fs-64: 4rem;
$fs-68: 4.25rem;
$fs-72: 4.5rem;
$fs-76: 5rem;
$fs-120: 8rem;
$fs-150: 13rem;
